body {
  font-size: 16px;
  font-family: sans-serif, Arial;
  width: 100%;
  border-radius: 5px;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  min-width: 900px;
  padding: 15px;
}
main {
  border: 1px solid grey;
}
.profile {
  border-radius: 150px;
  width: 150px;
  height: 150px;
}
.Introduction {
  display: flex;
  padding: 10px;
}
.About {
  margin-top: 5px;

  width: 700px;
}
.container {
  display: flex;
}
.left {
  justify-content: left;
}
.right {
  justify-content: right;
}
h5 {
  font-weight: bold;
}
.icons {
  width: 20px;
  height: 20px;
  background-color: white;
  padding: 4px;
  border-radius: 5px;
}
table {
  margin-top: 0 auto;
  padding: 5px;
}
td {
  padding: 10px;
}
th {
  padding: 10px;
  color: rgb(127, 189, 255);
  font-weight: bold;
}
.resume-header {
  background-color: rgb(9, 9, 85);
  margin: 2px;
  padding: 5px;
}

button {
  color: white;
  background-color: rgb(9, 9, 85);
  border: 0px;
}
button:hover {
  color: white;
  font-weight: bold;
  border-radius: 10px;
}
.header {
  font-size: 20px;
  justify-content: space-between;
  color: white;
}
.description {
  margin: 5px;
}
.media {
  background-color: rgb(9, 9, 85);
  color: white;
}
